/* Đối với Chrome, Safari, Edge và các trình duyệt WebKit khác */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Đối với Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
